body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header {
    background-color: lightblue;
    color: blue;
    text-shadow: 2px 4px 4px black;
}
.main {
    background-color: orange;
}
.footer{
    background-color: lightblue;
}